*.json
*.parquet
.preferences.yaml
data/
*.ipynb_checkpoints
__pycache__
*/.env
venv/
lib/
tmp/

**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json